h1{
  font-family: 'Leckerli One', cursive;
  text-align: center;
}
.look{
  margin: auto;
}
td{

  height: 200px;
  width: 100px;
  border: 5px solid white;
}
#one{

  background-color: #247BA0;
}
#two{
  background: #70C1B3;
}
#three{
  background-color: #B2DBBF;
}
#four{
  background-color: #F3FFBD;
}
#five{
  background: #FF1654;
}
